#root {
  background-color: lightgrey;
}

.planner-item{
  background-color: beige;
  border: 1px solid black;
  padding:5px;
  margin: 10px 0
}

.planner-item:hover{
  cursor:  pointer;
  opacity: 0.7;
}

.planner-item:last-of-type{
  margin:0;
}

input{   
  background-color: lightblue;
   padding:2px;
}

input:hover{
  background-color: lightcyan;
}



